@media all {
	
	/** Fiddly Stuff **/

	body { margin: 0; }
	a { text-decoration:none;}

	.lato {font-family: "Lato", sans-serif; font-weight:300; color: rgb(75,75,75);}

	.unhighlightable {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	/** Title Block **/
	#title-block {
		height:18%;
	}

	#title {
		width:100%;
		font-size:35pt;
		margin:0 auto;
		text-align:center;
		line-height:200%;
	}

	/* Nav Bar */
	#nav-bar {
		width:100%;
		height:28%;
	}

	.item-wrapper {
		height:100%;
		width:23%;

		margin: 0 1%;

		float:left;
		display:inline-block;
		position:relative;

		cursor:hand;
	}

	.nav-title {
		width:100%;
		font-size:20px;
		margin:0;
		color:rgb(140,140,140);
		text-align:center;
		position:absolute;
	}

	.nav-item {
		width:100%;
		height:85%;
		position:absolute;
		top:15%;
		background-size:cover;
		background-position:center;
		overflow:hidden;
	}

	#bio-tile {
		background-image:url('/images/me.jpg');
	}
	#contact-tile {
		background-image:url('/images/contact.jpg');
	}
	#projects-tile {
		background-image:url('/images/projects.png');
	}
	#research-tile {
		background-image:url('/images/robocup.jpg');
	}


	/** Content Drawer **/
	.content-backdrop {
		position: relative;
		top:5%;
		left:1%;
		right:1%;
		bottom:4%;
		height: 0;
		width: 98%;
		height:100%;
	}

	#content-drawer {
		width:100%;
		height:54%;
	}

	.content {
		width:100%;
		height:100%;
		display:none;
	}

	/** Left Drawer Stuff **/
	.left-content{
		height:100%;
		width:21%;
		float:left;
		display:inline-block;
		padding:15px;
	}
	.left-title {
		font-size:1.75em;
		font-weight:400;
	}
	.left-subhead {
		font-size:1.25em;

	}

	/** Right Drawer Stuff **/
	.right-content {
		height:100%;
		width:71%;
		float:right;
		display:inline-block;
		padding:15px;
	}

	.right-content span {
		width:100%;
		font-size:1.3em;
		line-height:150%;
	}

	/* Link table stuff (incredibly hackish) */
	.link-wrapper {
		width:25%;
		height:50%;
	}
	.link-table {
		width:98%;
		height:98%;
		padding:1%;
	}
	.link {
		text-decoration:none;
		width:100%;
		height:100%;
		display:inline-block;
	}
	.link-img {
		height:3em;
		width:3em;
	}
	.link-title {
		margin:0;
		position:relative;
		top:1em;
		width:50%;
		right:20%;
		float:right;
		font-weight:300;
	}


	/* Project table stuff (slightly less hackish) */
	.project-wrapper{
		width:50%;
		height:50%;
	}
	.project {
		text-decoration:none;
		width:100%;
		height:100%;
		display:inline-block;
	}
	.project-img {
		height:5em;
		width:5em;
	}
	.project-text {
		float:right;
		width:70%;
		margin:0;
		margin-right:10px;
		font-size:13pt;
		line-height:125%;
		font-weight:300;
	}

	.research-title {
		width:80%;
		float:right;
		font-weight:300;
		line-height:150%;
		font-size:13pt;
	}
}