www.beta.bjacobel.com {
  tls bjacobel@gmail.com
  redir https://beta.bjacobel.com{uri} 301
}

beta.bjacobel.com {
  gzip
  tls bjacobel@gmail.com
  root /bjdotcom/_site
  ext .html
  startup cd /bjdotcom && jekyll build --incremental
  git {
    repo https://github.com/bjacobel/bjacobel.github.io.git
    clonepath ../
    command jekyll build --incremental
    path /jekyllbuild
  }
}
