www.beta.bjacobel.com {
  tls bjacobel@gmail.com
  redir https://beta.bjacobel.com{uri} 301
}

beta.bjacobel.com {
  gzip
  tls bjacobel@gmail.com
  root /var/www/bjacobel.com
  ext .html
  git {
    repo https://github.com/bjacobel/bjacobel.github.io.git
    branch bjacobel.com
    clonepath /tmp/bjacobel.com
    command cd /tmp/bjacobel.com & cp -r _site/* /var/www/bjacobel.com/
    path /jekyllbuild
  }
}
