<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>index</title>
  <link href="http://fonts.googleapis.com/css?family=Merriweather+Sans:300" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="css/standardize.css">
  <link rel="stylesheet" href="css/index-grid.css">
  <link rel="stylesheet" href="css/index.css">
</head>
<body class="body index clearfix">
  <div class="element element-1"></div>
  <div class="container clearfix">
    <p class="text text-1">BRIAN JACOBEL&nbsp;</p>
    <div class="element"></div>
    <p class="text text-2">WEB DEVELOPER IN BOSTON, MA</p>
  </div>
  <div class="element element-3"></div>
  <img class="image image-1" src="images/twitter.svg">
  <img class="image image-2" src="images/github.svg">
  <img class="image image-3" src="images/linkedin.svg">
  <img class="image image-4" src="images/gmail.svg">
  <div class="element element-4"></div>
</body>
</html>