.mobile-burger {
    display: none;
    width: 35px;
    height: 35px;
    padding: 5px 4px;
    background-color: $blue;
    top: calc(235px - 35px);
    position: relative;
    cursor:pointer;

    .burger-lines {
        width: 25px;
        height: 3px;
        display: block;
        position: relative;
        background-color: white;
        top: 10px;
        right: 0;
        opacity: 1;

        @include vendor-prefix("user-select", "none");
        @include vendor-prefix("transition", "all .25s ease");

        &.active {
            background: transparent;

            &:before{
                @include vendor-prefix("transform", "rotate3d(0,0,1,-45deg)");
                background-color: white;
                top: 0px;
            }

            &:after{
                @include vendor-prefix("transform", "rotate3d(0,0,1,45deg)");
                background-color: white;
                top: -3px;
            }
        }
    }

    .burger-lines:before{
        content: '\00A0';
        height: 3px;
        display: block;
        position: relative;
        background-color: white;
        top: -9px;
        @include vendor-prefix("user-select", "none");
        @include vendor-prefix("transition", "all .25s ease");
    }

    .burger-lines:after {
        content: '\00A0';
        height: 3px;
        display: block;
        position: relative;
        background-color: white;
        top: 6px;
        @include vendor-prefix("user-select", "none");
        @include vendor-prefix("transition", "all .25s ease");
    }
}

@media(max-width: 650px)  {
    body {
        .header {
            height: 235px;
            margin: 0 auto;

            .title {
                top: 92px;
                margin: 0 auto;
            }
        }

        .main {
            .sidebar, .body-content {
                @include double-prefix("transition", "transform", ".2s ease-in-out");
            }

            .sidebar {
                position: absolute;
                @include vendor-prefix("transform", "translate(-235px,0)");
            }

            .body-content {
                width: 100%;
            }

            &.slide-visible {
                .sidebar {
                    @include vendor-prefix("transform", "translate(0,0)");
                }
                .body-content {
                    @include vendor-prefix("transform", "translate(235px,0)");
                }
            }
        }
    }

    .mobile-burger {
        display: block;
    }
}

@media(max-width: 850px)  {
    body .main .body-content .list-item {
        margin: 20px 0;

        .list-img {
            display: block;
            width: 100%;
            background-position: center;
            margin-bottom: 20px;
        }

        .list-text {
            width: 100%;
            margin-left: 0;
        }
    }
}