a {
    color: $blue;
}

a:visited {
    color: $darkblue;
}

p {
    line-height: 1.6;
    margin-bottom: 20px;
}

body {
    font:300 1.125em/1.38 'Merriweather Sans';
    width:100%;
    max-width:1200px;
    margin:0 auto;
    overflow-x:hidden;

    .header {
        height:346px;
        margin:0 auto;
        background:url('/images/header2.jpg');
        background-repeat:no-repeat;
        background-size:auto auto;
        background-position:center top;

        .title {
            position:absolute;
            top:137px;
            left:0;
            right:0;
            width:326px;
            height:86px;
            margin:0 auto;
            color: white;

            .aboutme {
                position:relative;
                text-shadow:0 3px 5px rgba(0, 0, 0, .5);
                text-align:center;
                text-transform:uppercase;

                &.myname {
                    width:326px;
                    min-height:73px;
                    margin:-4px 0 0 -0.9202453988%;
                    font-size:2.222em;
                }

                &.mytitle {
                    width:312px;
                    min-height:23px;
                    margin-top:-11px;
                    font-size:0.889em;
                    letter-spacing:1px;
                }
            }

            .separator {
                float: left;
                position:relative;
                width:308px;
                height:3px;
                margin:-19px 0 0 1.5337423312%;
                background-color:$blue;
            }
        }
    }

    .main {
        div {
            display: inline-block;
            vertical-align: top;
        }

        .sidebar {
            width:182px;
            margin:50px 0 0 50px;
            padding:0 30px 20px 0;
            border-right:2px solid $blue;

            .headshot {
                float:left;
                width:152px;
                height:150px;
                border-radius:500px;
                background:url('/images/me.jpg');
                background-repeat:no-repeat;
                background-size:cover;
                background-position:center center;
            }

            .container {
                float:left;
                width:100%;
                margin-top:15px;
                border-bottom:2px solid $blue;

                .nav-item {
                    float:left;
                    width:100%;
                    min-height:20px;
                    font:1.222em Lato;
                    text-align:center;
                    color:black;

                    &.about {
                        margin-top:11px;
                    }

                    &.projects,
                    &.resume,
                    &.work,
                    &.blog,
                    &.activity {
                        margin-top:22px;
                    }

                    &.blog {
                        margin-bottom: 22px;
                    }

                    &:hover {
                        text-decoration: underline !important;
                    }
                }
            }

            .socialbuttons {
                float: left;
                width:100%;
                margin-top:15px;

                .social-item {
                    float: left;
                    width: 100%;
                    background-size:contain;
                    background-position:center;
                    background-repeat:no-repeat;

                    &.github {
                        height:53px;
                        background-image:url('/images/github.svg');
                    }

                    &.twitter {
                        clear:both;
                        height:45px;
                        margin-top:22px;
                        background-image:url('/images/twitter.svg');
                    }

                    &.linkedin {
                        clear:both;
                        height:53px;
                        margin-top:22px;
                        background-image:url('/images/linkedin.svg');
                    }

                    &:hover {
                        @include vendor-prefix("filter", "drop-shadow(0px 0px 5px rgba(34, 143, 196, 0.65))");
                    }
                }
            }
        }

        .body-content {
            width: calc(100% - 265px);
            margin-top: 50px;
            padding: 0 30px;

            .date {
                font:italic 1.111em/1.38 Lato;
                color:$lightgray;
                margin-bottom: 10px;
            }

            .post-title, .posttitle {  // Can't change the Jekyll default class so have to specify both
                font:400 1.667em/1.38 Lato;
                margin-bottom: 25px;
            }

            .post-content {
                margin-bottom:25px;
            }

            ul.posts li {
                padding-bottom:10px;
                border-bottom:2px solid $blue;
                margin-bottom:35px;
            }

            .list-item{
                margin:40px 0;

                div {
                    display:inline-block;
                }

                .list-img {
                    width:100px;
                    height:100px;
                    background-size:contain;
                    background-repeat:no-repeat;
                }

                .list-text {
                    width: calc(100% - 150px);
                    margin-left: 40px;

                    p {
                        margin-bottom: 10px;
                    }
                }
            }

        }
    }
}