.hljs {
  display: unset !important;
}

pre code.hljs {
  display: block !important;
}

pre, figure {
  white-space: pre !important;
  background-color: $superlightgray;
  @include vendor-prefix("border-radius", "3px");
  padding: 3px;
  overflow: scroll;

  code {
    font-family: Inconsolata, courier;
  }
}

.pgp {
  max-width: 100%;
  overflow: hidden;
}
