.mobile-burger {
  z-index: 2147483647;
  display: none;
  width: 45px;
  height: 45px;
  padding: 10px 5px;
  background-color: $blue;
  top: 0;
  position: fixed;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  .burger-lines {
    width: 35px;
    height: 3px;
    display: block;
    position: relative;
    background-color: white;
    top: 0;
    right: 0;
    opacity: 1;
    @include vendor-prefix("user-select", "none");
    @include vendor-prefix("transition", "all .25s ease");

    &.active {
      background: transparent;

      &:before {
        @include vendor-prefix("transform", "rotate3d(0,0,1,-45deg)");
        background-color: white;
        top: 0px;
      }

      &:after {
        @include vendor-prefix("transform", "rotate3d(0,0,1,45deg)");
        background-color: white;
        top: -3px;
      }
    }
  }

  .burger-lines:before {
    content: '\00A0';
    height: 3px;
    display: block;
    position: relative;
    background-color: white;
    top: -9px;
    @include vendor-prefix("user-select", "none");
    @include vendor-prefix("transition", "all .25s ease");
  }

  .burger-lines:after {
    content: '\00A0';
    height: 3px;
    display: block;
    position: relative;
    background-color: white;
    top: 6px;
    @include vendor-prefix("user-select", "none");
    @include vendor-prefix("transition", "all .25s ease");
  }
}

@media(max-width: 650px) {
  body {
    .header {
      height: 235px;
      margin: 0 auto;

      .title {
        top: 92px;
        margin: 0 auto;
      }
    }
  }

  .app {
    .sidebar,
    .body-content {
      @include double-prefix("transition", "transform", ".2s ease-in-out");
    }

    .sidebar {
      @include vendor-prefix("transform", "translate(-235px,0)");
      position: absolute;
    }

    .body-content {
      width: 100%;
    }

    &.menuActive {
      .sidebar {
        @include vendor-prefix("transform", "translate(0,0)");
      }

      .body-content {
        @include vendor-prefix("transform", "translate(235px,0)");
      }
    }
  }

  .mobile-burger {
    display: block;
  }
}
