body{background-color:rgb(255, 255, 255);font:300 1em/1.38 'Merriweather Sans';color:rgb(255, 255, 255);}

.container{position:relative;float:left;clear:both;z-index:4;width:27.1666666666%;height:89px;margin:-204px 0 0 36.4166666666%;}

.container .element{position:relative;clear:both;z-index:2;width:308px;height:3px;margin:-17px 0 0 1.5337423312%;background-color:rgb(34, 143, 196);}

.element{float:left;}

.image{display:block;float:left;clear:both;height:auto;overflow:hidden;}

.text{position:relative;float:left;text-shadow:0 3px 5px rgba(0, 0, 0, .5);line-height:1.38;text-align:center;color:rgb(255, 255, 255);}

.element-1{position:relative;z-index:0;width:100%;height:346px;background:url('../images/header2.jpg') rgb(255, 255, 255);background-repeat:no-repeat;background-size:auto auto;background-position:center top;}

.element-3{width:12%;height:144px;margin:61px 0 0 120px;border-radius:500px;background:url('../images/me.jpg') rgb(222, 222, 222);background-repeat:no-repeat;background-size:cover;background-position:center center;}

.element-4{width:1px;height:526px;margin:-387px 0 0 67px;background-color:rgb(34, 143, 196);}

.image-1{width:48px;margin:28px 0 0 169px;}

.image-2{width:59px;margin:33px 0 0 13.4166666666%;}

.image-3{width:61px;margin:23px 0 0 13.4166666666%;}

.image-4{width:48px;margin:28px 0 0 14%;}

.text-1{z-index:1;width:326px;min-height:73px;font-size:2.5em;}

.text-2{z-index:3;width:312px;min-height:23px;margin:-7px 0 0 2.1472392638%;letter-spacing:1px;}

@media(max-width: 480px) {
.container{position:relative;z-index:4;width:67.9166666666%;}

.container .element{position:relative;z-index:2;margin-left:2.7607361963%;}

.container .text{position:relative;text-shadow:0 3px 5px rgba(0, 0, 0, .5);}

.image{clear:none;height:auto;}

.container .text-1{z-index:1;}

.container .text-2{z-index:3;}

.element-1{position:relative;clear:both;z-index:0;}

.element-4{margin-top:-964px;margin-left:29.5833333333%;}

.image-1{margin-top:-797px;}

.image-2{margin-top:-811px;}

.image-3{margin-top:-1103px;}
}