<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=0.98,shrink-to-fit=no">
    <meta name="google-site-verification" content="CR5WZO1Ek9ST1t8hNJyZkNVn3brfm0dP2bdewmGX5Q8" />
    <meta name="description" content="I'm a JavaScript developer in D.C. excited about changing media, education and government through the Open Web.">
    <title>Brian Jacobel</title>
    <% typeof css !== 'undefined' && css.forEach((file) => { %>
        <link href="/<%- file %>" rel="stylesheet preload" as="style">
    <% }); %>
</head>
<body>
    <div id="main">
        <% if (typeof html !== 'undefined') { %>
            <%= html %>
        <% } %>
    </div>
    <% typeof js !== 'undefined' && js.forEach((file) => { %>
        <script src="/<%- file %>" defer></script>
    <% }); %>
</body>
</html>
